.search {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    background-color: rgb(204, 199, 192);
    border-radius: 50px;
    padding: 5px;

}

.search input {
    background-color: rgb(204, 199, 192);
    border: none;
    width: 100%;
    text-align: right;
    margin-right: 20px;

}

input:focus {
    outline: none;
}


@media (max-width: 800px) {
    .search {
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        background-color: rgb(204, 199, 192);
        border-radius: 50px;
        padding: 5px;

    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .search input {
        background-color: rgb(204, 199, 192);
        border: none;
        width: 100%;
        text-align: right;
        margin-right: 20px;
        font-size: 24px;

    }

    .search {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        background-color: rgb(204, 199, 192);
        border-radius: 50px;
        padding: 12px;

    }



}